/* SimpleNavbar Styles */
.simple-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--dark-color);
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.simple-navbar-logo {
  margin: 0;
  font-size: 1.5rem;
}

.simple-navbar-logo a {
  color: #fff;
  text-decoration: none;
}

.simple-navbar-logo a:hover {
  color: var(--primary-color);
}

.simple-navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.simple-navbar-logout {
  margin-left: auto;
}

.simple-navbar-logout a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.simple-navbar-logout a:hover {
  color: var(--primary-color);
}

/* Hide elements on small screens except logout */
@media (max-width: 768px) {
  .simple-navbar-logo,
  .simple-navbar-list li:not(.simple-navbar-logout) {
    display: none;
  }

  .simple-navbar {
    justify-content: flex-end; /* Align logout icon to the right on small screens */
  }
}
