:root {
  --primary-color: #129eb4;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.my-1 {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.btn-light,
.bg-light,
.badge-light,
.btn-dark,
.bg-dark,
.badge-dark,
.btn-danger,
.bg-danger,
.badge-danger,
.btn-success,
.bg-success,
.badge-success,
.btn-white,
.bg-white,
.badge-white,
.btn:hover {
  opacity: 0.8;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form input[type="text"],
.form input[type="username"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.table th {
  background: var (--light-color);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.simple-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgba(52, 58, 64, 0.9); /* dark-color with 0.9 opacity */
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.simple-navbar-logo {
  margin: 0;
  font-size: 1.5rem;
}

.simple-navbar-logo a {
  color: #fff;
  text-decoration: none;
}

.simple-navbar-logo a:hover {
  color: var(--primary-color);
}

.simple-navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.simple-navbar-list li {
  margin-right: 1rem;
}

.simple-navbar-logout {
  margin-left: auto;
}

.simple-navbar-logout a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.simple-navbar-logout a:hover {
  color: var(--primary-color);
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.message-container {
  padding: 20px;
}

.message {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}
.form-container {
  max-width: 500px;
  width: 90%;
  margin: 25px auto;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.mt-5 {
  margin-top: 4rem;
}

.form-field {
  margin-bottom: 15px;
  width: 100%;
}

.form-label {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 5px;
  font-weight: 900;
  text-align: center;
}

.form-select {
  width: 100%;
  padding: 8px 10px;
  border: 2px solid #eaeaea;
  border-radius: 8px;
  background-color: white;
  font-size: 1.5rem;
  color: #34495e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ecf0f1, #ecf0f1);
  background-position: calc(100% - 15px) center, calc(100% - 10px) center,
    100% 0;
  background-size: 5px 5px, 5px 5px, 2.5px 100%;
  background-repeat: no-repeat;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-select:hover {
  border-color: #bdc3c7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-select:focus {
  border-color: #3498db;
  box-shadow: 0 2px 8px rgba(50, 150, 233, 0.2);
  outline: none;
}

.form-button {
  padding: 12px 25px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #343a40;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 28px auto 10px;
  display: block;
}

.form-button:hover {
  background-color: rgba(23, 25, 27, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.form-button:focus {
  box-shadow: 0 4px 8px rgba(39, 174, 96, 0.3);
}

.form-button:active {
  background-color: rgb(61, 109, 75);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
  background-color: rgba(23, 25, 27, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logout-button:focus {
  box-shadow: 0 4px 8px rgba(39, 174, 96, 0.3);
}

.logout-button:active {
  background-color: rgb(61, 109, 75);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.viewAssignmentsContainer {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

.deleteButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: #c0392b;
}

@media (max-width: 480px) {
  .form-container {
    padding: 15px;
    margin: 25px;
  }

  .mt-5 {
    margin-top: 4rem;
  }

  .form-label {
    font-size: 1.5rem;
  }

  .form-select,
  .form-button,
  input[type="text"] {
    padding: 10px;
    font-size: 1.5rem;
  }

  .form-button {
    padding: 12px 25px;
  }
}

@media (max-width: 575.98px) {
  .hide-on-small {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .profile ul {
    display: none;
  }

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-about .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

@media (max-width: 768px) {
  .form-container {
    max-width: 95%;
    padding: 20px;
    margin: 25px auto;
  }

  .mt-5 {
    margin-top: 4rem;
  }

  .form-label {
    font-size: 1.5rem;
  }

  .form-select,
  .form-button,
  input[type="text"] {
    padding: 10px;
    font-size: 1.5rem;
  }

  .hide-on-small {
    display: none;
  }

  .simple-navbar-logo,
  .simple-navbar-list li:not(.simple-navbar-logout) {
    display: none;
  }

  .simple-navbar {
    justify-content: flex-end;
  }

  .simple-navbar-logo a {
    display: inline;
  }

  .simple-navbar {
    justify-content: space-between;
  }
}
